* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* Nav */

.wrapper {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  height: 60px;
  margin-top: 10px;
  /* border: 1px solid black; */
  align-items: center;

}

.logo {
  display: flex;
  align-items: center;
  /* background-color: blue; */
  width: 100%;
  padding-left: 20px;
  /* border: 1px solid black; */
}

.mytimes {
  margin-left: 15px;
  color: #42d0b3;

}
nav {
  /* background-color: #3333; */
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}


nav a {
  color: black;
  padding: 10px;
  margin: 10px;

}

/* @media screen and (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;

  } */

hr {
  margin-top: 10px;
  margin-bottom: 40px;
}


/*  Large Column */

.column {
  display: flex;
  justify-content: center;
}

.column.large {
  width: 630px;
  margin-left: 20px;

}

.large {
  margin-right: 40px;
  /* border: 1px solid black; */
  max-width: 635px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


/* main story */

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

  .main {
    width: 630px;
    /* border: 1px solid black; */

  }

  .module {
    background-image: url('../../resources/images/img-story-main.png');
    background-size: cover;
    background-repeat:no-repeat;
    /* width: auto; */
    height: 300px;
    position: relative;
    text-align: center;
  }

.headline1 span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  }

  .main p {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

/* orca */

  .orca {
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    flex-grow: 1;
    margin-right: 15px;
    margin-top: 30px;

  }

  .orca h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }

  .orca p {
    margin-top: 20px;
    margin-bottom: 20px;

  }

/* fall */

  .fall {
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    order: 4;
    flex-grow: 1;
    margin-right: 15px;
    margin-top: 30px;

  }

  .fall .headline2 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-image: url('../../resources/images/img-story-2.png');
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    height: 300px;
    width: 600;
  }

/* burger */

  .burger {
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    flex-grow: 1;
    margin-left: 15px;
    margin-top: 30px;

  }

  .burger h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;

  }

  .burger p {
    margin-top: 20px;
    margin-bottom: 20px;

  }

/* Hipster */

  .hipster {
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    order: 5;
    flex-grow: 1;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 80px;

  }

  .hipster .headline3 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-image: url('../../resources/images/img-story-3.png');
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    height: 300px;
    width: 600;
  }

/*  Medium Column */

.column.medium {
  width: 300px;
}

.medium {
  margin-right: 40px;
  /* border: 1px solid black; */
  max-width: 300px;
  display: inline-block;
  flex-shrink: 0;

}

/* FBI */

  .fbi {
    /* border: 1px solid black; */
  }

  .fbi h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }

  .fbi p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

/* cats */

  .cats {
    /* border: 1px solid black; */
    margin-top: 30px;
  }

  .cats .headline4 {
    /* border: 1px solid black; */
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    background-image: url('../../resources/images/img-story-1.png');
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    height: 300px;

  }

  .cats p {
    margin-top: 20px;
    margin-bottom: 20px;
  }

/*  Small Column */

  .column.small {
    width: 240px;
    display: flex;
    /* flex-wrap: wrap; */

  }

  .small {
    /* border: 1px solid black; */
    max-width: 240px;
  }

/* bites */

  .bites {
    /* border: 1px solid black; */

  }

  .bites .news {
    /* border: 1px solid black; */

  }

  .bites h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .list ul {
    list-style-type: none;
    width: 100%;
    background-color: WhiteSmoke;
    margin-top: 10px;
    display: inline-block;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;

  }

  .list ul li {
    position:relative;
}


  .list a {
    color: black;
    list-style: none;
    text-decoration: none;
    padding: 10px 0px;
    word-wrap: normal;
    display: inline-block;
    padding: 15px;

  }

.horizontalLine {
  position: absolute;
  width: 100%;
  /* height: 1px; */
  border: .5px solid black;
}

.footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.together {
  display: flex;
}

.logo2 {
  display: flex;
  align-items: center;

}

 .logo2 p {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.logo2 span {
 font-family: Georgia;
 font-size: 16px;
 font-weight: bold;
 color: white;
 margin-left: 25px;
 margin-right: 10px;
}

.footer ul li {
  list-style: none;
  /* margin-bottom: 10px; */
  display: flex;
  position: relative;
}

.footer a {
  color: black;
  /* text-decoration: none; */
  /* padding: 10px 0px;
  word-wrap: normal; */
  padding: 15px;
}

.footer .copyright p {
  font-family: Verdana;
  font-size: 12px;
  /* display: flex; */
}
